@model InnovaTec.SisPol.Web1.Areas.Administracion.Models.TPolizaForViewModels
@{
    ViewBag.Title = "- Poliza";
}
<h2>Mantenimiento Poliza</h2>
@using (Html.BeginForm("", "", new { Area = "Administracion", ReturnUrl = ViewBag.ReturnUrl },
                                                 FormMethod.Post, new { id = "frmTPolizaFor", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.npol_codigo, new { @class = "form-control" })
    @Html.HiddenFor(m => m.cest_descripcion, new { @class = "form-control" })
    @Html.HiddenFor(m => m.cmar_descripcion, new { @class = "form-control" })
    @Html.HiddenFor(m => m.cmod_descripcion, new { @class = "form-control" })
    @Html.HiddenFor(m => m.ccat_descripcion, new { @class = "form-control" })
    @Html.HiddenFor(m => m.cpol_desmoneda, new { @class = "form-control" })
    @Html.HiddenFor(m => m.npol_estreg, new { @class = "form-control" })
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="panel panel-info">
        <div class="panel-heading">Personal</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.cpol_nroform)
                        @Html.TextBoxFor(m => m.cpol_nroform, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.cpol_nroform, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.cpol_nropoliza)
                        @Html.TextBoxFor(m => m.cpol_nropoliza, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.cpol_nropoliza, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.cpol_placaveh)
                        @Html.TextBoxFor(m => m.cpol_placaveh, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.cpol_placaveh, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.npol_aniofabveh)
                        @Html.TextBoxFor(m => m.npol_aniofabveh, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.npol_aniofabveh, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.npol_nroasientoveh)
                        @Html.TextBoxFor(m => m.npol_nroasientoveh, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.npol_nroasientoveh, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.ccat_codigo)
                        @Html.DropDownListFor(m => m.ccat_codigo, Model.Categoria, "Seleccione", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ccat_codigo, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.nmar_codigo)
                        @Html.DropDownListFor(m => m.nmar_codigo, Model.Marca, "Seleccione", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.nmar_codigo, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.nmod_codigo)
                        @Html.DropDownListFor(m => m.nmod_codigo, Model.Modelo, "Seleccione", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.nmod_codigo, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.cpol_seriemotor)
                        @Html.TextBoxFor(m => m.cpol_seriemotor, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.cpol_seriemotor, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.cpol_codmon)
                        @Html.DropDownListFor(m => m.cpol_codmon, Model.Moneda, "Seleccione", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.cpol_codmon, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.dpol_fecefecto)
                        <div id="dpol_fecefecto" class="input-group date">
                            @Html.TextBoxFor(m => m.dpol_fecefecto, "{0:dd/MM/yyyy}", new { @class = "form-control" })
                            <span class="input-group-addon"><i class="fa fa-calendar bigger-110"></i></span>
                        </div>
                        @Html.ValidationMessageFor(m => m.dpol_fecefecto, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.dpol_fectermino)
                        <div id="dpol_fectermino" class="input-group date">
                            @Html.TextBoxFor(m => m.dpol_fectermino, "{0:dd/MM/yyyy}", new { @class = "form-control" })
                            <span class="input-group-addon"><i class="fa fa-calendar bigger-110"></i></span>
                        </div>
                        @Html.ValidationMessageFor(m => m.dpol_fectermino, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.npol_precioneto)
                        @Html.TextBoxFor(m => m.npol_precioneto, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.npol_precioneto, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.npol_porcentajecomision)
                        @Html.TextBoxFor(m => m.npol_porcentajecomision, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.npol_porcentajecomision, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.npol_montocomision)
                        @Html.TextBoxFor(m => m.npol_montocomision, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.npol_montocomision, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.npol_montoprima)
                        @Html.TextBoxFor(m => m.npol_montoprima, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.npol_montoprima, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.npol_estdato)
                        @Html.DropDownListFor(m => m.npol_estdato, Model.AltaBaja, "Seleccione", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.npol_estdato, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                       @Html.LabelFor(m => m.nest_codigo)
                       @Html.DropDownListFor(m => m.nest_codigo, Model.Estado, "Seleccione", new { @class = "form-control" })
                       @Html.ValidationMessageFor(m => m.nest_codigo, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="btn-group btn-group-justified">
                <a class="btn btn-default btn-primary" onclick="Guardar();" role="button"><i class="fa fa-save"></i>&nbsp;&nbsp;Guardar</a>
                <a class="btn btn-default btn-success" onclick="Nuevo();" role="button"><i class="fa fa-clone"></i>&nbsp;&nbsp;Nuevo</a>
                <a class="btn btn-default btn-default" onclick="Cancelar();" role="button"><i class="fa fa-reply"></i>&nbsp;&nbsp;Retornar</a>
            </div>
            @*<div class="row">
                <div class="col-md-12">
                    <button type="submit" id="btnGuardar" class="btn btn-primary" onclick="Guardar();"><i class="fa fa-save"></i> Guardar</button>
                </div>
            </div>*@
        </div>
    </div>
}
@section scripts {
    <script>
        $(function () {
            Globalize.culture('es-PE');
            //$("#fechaIngreso").datepicker.setDefaults($.datepicker.regional['es']);
            $("#dpol_fecefecto").datepicker();
            $("#dpol_fectermino").datepicker();
            //$('#fechaIngreso').datepicker('option', { dateFormat: 'dd/mm/yy' });
        });
        function Guardar() {
            if ($("#frmTPolizaFor").valid()) {
                $.ajax({
                    url: '@Url.Action("GuardarJSON", "TPolizaFor")',
                    type: 'POST',
                    data: $("#frmTPolizaFor").serialize(),
                    success: function (result) {
                        data = result;
                        new PNotify({
                            title: data.Title,
                            text: data.Message,
                            type: data.TypeMessage
                        });
                        if (result.Succeeded) {
                            $('#npol_codigo').val(data.Data);
                        }
                    }
                });
            }
        };

        function Nuevo() {
            var url = '@Url.Action("TPolizaFor", "TPolizaFor", new { area = "Administracion" })';
            document.location.href = url + "?codigo=0";
        };
        function Cancelar() {
            var url = '@Url.Action("Index", "TPolizaFor", new { area = "Administracion" })';
            document.location.href = url;
        };

        $("#nmar_codigo").change(function () {
            var codigo = $("#nmar_codigo").val();
            var descripcion = $("#nmar_codigo option:selected").html();
            if(codigo != "")
            {
                CargarModelos(codigo);
                $("#cmar_descripcion").val(descripcion);
            }
            else
            {
                $("#nmod_codigo option").not(":first").remove();
                $("#cmar_descripcion").val("");
            }            
        })

        $("#nmod_codigo").change(function () {
            var codigo = $("#nmod_codigo").val();
            var descripcion = $("#nmod_codigo option:selected").html();
            if (codigo != "")
                $("#cmod_descripcion").val(descripcion);
            else
                $("#cmod_descripcion").val("");
        })

        $("#ccat_codigo").change(function () {
            var codigo = $("#ccat_codigo").val();
            var descripcion = $("#ccat_codigo option:selected").html();
            if (codigo != "")
                $("#ccat_descripcion").val(descripcion);
            else
                $("#ccat_descripcion").val("");
        })

        $("#cpol_codmon").change(function () {
            var codigo = $("#cpol_codmon").val();
            var descripcion = $("#cpol_codmon option:selected").html();
            if (codigo != "")
                $("#cpol_desmoneda").val(descripcion);
            else
                $("#cpol_desmoneda").val("");
        })

        $("#nest_codigo").change(function () {
            var codigo = $("#nest_codigo").val();
            var descripcion = $("#nest_codigo option:selected").html();
            if (codigo != "")
                $("#cest_descripcion").val(descripcion);
            else
                $("#cest_descripcion").val("");
        })

        function CargarModelos(nmar_codigo) {            
            $.ajax({
                url: '@Url.Action("MostrarModelos", "TPolizaFor", new { area = "Administracion" })',
                type: "POST",
                data: { NMAR_CODIGO: nmar_codigo },
                success: function (result) {
                    //debugger;
                    $("#nmod_codigo option").not(":first").remove();
                    $.each(result, function (index, value) {
                        $("#nmod_codigo").append("<option value='" + value.nmod_codigo + "'>" + value.cmod_descripcion + "</option>")
                    });
                }
            });
        }
    </script>
}